@model DirDepR2.Domain.Entities.Profesor

<div class="well">
    <h3>
        <strong>@Model.Nomina</strong>
        <span class="pull-right label label-primary">@Model.ApellidoPaterno</span>

    </h3>
    <span class="lead">@Model.Correo</span>


</div>